/* VARIABLE FONT */
:root{
    --default-font : 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --second-font : 'Montserrat', sans-serif;
    --third-font : 'Poppins', sans-serif;
}

:root{
    --warna-primary : #001d3d;
    --warna-second : #003566;
    --warna-aksen : #ffc300;
    --warna-hitam : #000814;
    --warna-putih : #FFF;
}

/* ------------------------------------------------ */

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--warna-second);
}

.card{
    animation: FadeIn 1s ease;
}

h2{
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 36px;
}

label{
    font-family: var(--second-font);
}

.btn{
    background-color: var(--warna-second);
    border-color: var(--warna-second);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--third-font);
    transition: 0.4s;
}

.btn:hover{
    background-color: var(--warna-primary);
    border-color: var(--warna-primary);
}

.copyright{
    font-family: var(--default-font);
    font-size: 14px;
}

/* ANIMASI */

@keyframes FadeIn {
    from{
        opacity: 0;
        transform: translateY(-100%);
    } to{
        opacity: 1;
        transform: translateY(0);
    }
}